*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    height: 100vh;
    grid-template-areas: "navbar navbar"
                         "main main"
                         "footer footer";
    grid-template-rows: 12vh 1fr 12vh;
}
.navBar{
    background-color: #e10600;
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contenedor{
    grid-area: main;
    display: grid;
    grid-template-areas: "asideBar productos"
                         "asideBar productos"
                         "asideBar productos";
                         grid-template-columns: 10vw 1fr;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
    background-color: #e10600;
    color: white;
}
.asideBar{
    grid-area: asideBar;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.asideBar h4{
    color: #016fe5;
}
.productos{
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.producto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    margin: 1vw;
}
.producto img{
    height: 20vh;
}
.boton{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 4vh;
    width: 10vw;
    background-color: #e10600;
    color: white;
    border-radius: 1rem;
}